bin/
obj/
.publish/
.git/
.gitignore
.vs/
*.user
*.suo
.gitattributes
README.md
LICENSE
MailCore.IntegrationTests/
MailCore.Application.Tests/
MailCore.Infrastructure.Tests/
.publish/
Dockerfile
docker-compose.yml
.dockerignore
